.center {
  position: relative; /* This makes child absolute positioning relative to this container */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* ... other styles ... */
}

.dashboard {
  text-align: center;
  max-width: 90%; /* Limit the width for larger screens */
  margin: auto;
}

.dashboard-header {
  display: flex;
  justify-content: space-between; /* Spreads out children to start and end */
  align-items: center; /* Changed from 'left' to 'center' */
  padding: 10px;
  width: 100%;
}

.profile-icon {
  position: absolute; /* Position the icon absolutely */
  top: 10px; /* Adjust distance from the top */
  right: 10px; /* Adjust distance from the right */
  cursor: pointer;
  /* Style as desired (size, background, etc.) */
  /* Example: */
  width: 40px; /* Icon width */
  height: 40px; /* Icon height */
  border-radius: 50%; /* Circular shape */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff; /* Example background color */
  color: white; /* Example icon color */
}


.dashboard-cards {
  display: flex;
  flex-wrap: wrap; /* Wrap cards on smaller screens */
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 100%; /* Full width on smaller screens */
  max-width: 300px; /* Fixed max width for larger screens */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s; /* Smooth transition for hover effect */
}

.card:hover {
  transform: scale(1); /* Slight scale effect on hover */
}

.card-image {
  height: 120px;
  background-size: cover;
  background-position: center;
}

.card-content h2 {
  margin: 10px 0;
  color: #333; /* Darker color for better visibility */
}

.card-content p {
  color: #666;
  padding: 0 10px;
}

.dynamic-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.dynamic-text {
  font-size: 20px;
  margin-right: 5px;
}

.cursor {
  width: 2px;
  height: 1em;
  background-color: black;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Responsive Design for smaller screens */
@media (max-width: 600px) {
  .card {
    width: 90%; /* Slightly smaller width on small screens */
  }
}
