.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/public/image/dashbg2.jpg'); /* Add your background image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-color: aqua; /* Fallback color if the image is not available */
  /* ... other styles ... */
}


  
  .auth {
    background: rgb(22, 22, 22);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px; /* Slightly wider for a better layout */
  text-align: center;
  color: #f5efef; /* Dark text for readability */
  }
  
  .auth h1 {
    margin-bottom: 20px;
  color:  white; /* Yellow color for the header */
  font-weight: bold;
  }
  
  .auth input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  
    border: 2px solid #f9d342; /* Yellow border */
  border-radius: 5px;
  }
  
  .auth button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #f9d342;
    color: rgb(15, 15, 15);
    cursor: pointer;
  }
  
  .auth button:hover {
    background-color: #56fc09a6;
  }
  
  .auth__error {
    color: red;
    margin-bottom: 15px;
  }
  