html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrollbar */
  max-height: 100vh; /* Prevents vertical overflow */
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow */
  padding: 20px; /* Adjust padding as necessary */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.auth-form {
  background-color: var(--box-background);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.auth-form:before {
  content: "";
  position: absolute;
  top: -50px; right: -50px; bottom: -50px; left: -50px;
  z-index: -1;
  background: var(--background-gradient);
  transform: rotateZ(-45deg);
  transition: opacity var(--transition-speed);
  opacity: 0.5;
}

.auth-form:hover:before {
  opacity: 1;
}

.auth-input {
  width: calc(100% - 20px);
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.auth-input:focus {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.auth-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.auth-button:hover {
  background-color: darken(var(--primary-color), 10%);
  transform: scale(1.05);
}

.auth-error {
  color: var(--error-color);
  margin-bottom: 20px;
}

.terms-container {
  text-align: left;
  margin: 20px 0;
}

.checkbox {
  accent-color: var(--primary-color);
}

.checkbox-label {
  margin-left: 5px;
  font-size: 14px;
}

.auth-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}
